export CFLAGS="-Wall -Wextra -Werror -pedantic-errors -Wshadow -Wformat=2 -Wundef -Wdocumentation -Wno-error=documentation -Wno-error=shadow"
export CC=/usr/bin/clang
export CXX=/usr/bin/clang++

alias clang="clang $CFLAGS"
alias gcc="gcc $CFLAGS"

alias new-meson-exec="meson init --build; meson setup builddir"
